.footer__wrapper {
  background-color: var(--main-bg-color);
}
.footer {
  padding: 0 0 3rem;
}
.footer__logo {
  display: block;
  margin-bottom: 2rem;
}
.footer__subtitle {
  margin-bottom: 2rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2rem;
}
.footer .list, .footer .sub-list {
  margin-bottom: 4rem;
}
.footer .item:not(:last-child) {
  margin-bottom: .5rem;
}
.footer__link, .footer .text {
  font-size: 1.8rem;
  position: relative;
}
.footer .text {
  margin-bottom: 2rem;
}
.footer__link::after {
  display: block;
  content: '';
  bottom: -.1rem;
  left: 0;
  position: absolute;
  height: 0.1rem;
  width: 0;
  background-color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}
.footer .text--mb {
  margin-bottom: 2rem;
}
.footer__span {
  font-size: 1.4rem;
}
.item--df {
  display: flex;
  align-items: center;
}
.item--df svg {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.footer__policies {
  padding-top: 4rem;
}
.footer .item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-social-link__box {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1440px) {
  .footer__link:hover::after {
    width: 100%;
  }
 
  .footer__policies {
    display: flex;
    justify-content: space-between;
  }
  .footer__block--jus {
    text-align: right;
    margin-left: 10rem;
  }
  .footer__logo {
    font-size: 2.5rem;
  }
  .footer__block--df {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
 .footer__span {
   text-align: right;
   display: block;
 }
 .footer-social-link__box {
   display: flex;
   align-items: center;
   justify-content:space-between;
 }
}
@media screen and (min-width: 1440px) {
  .footer__block--jus {
    margin-left: 40rem;
  }
}