:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #5f8f5e;
  --second-brand-color: rgb(245, 245, 245);
  --third-brand-color: #c1dcbc;

  --main-font:  'Red Hat Mono';
  --title-font:  'Red Hat Mono Bold';
  --main-title-font: 'Roboto Condensed';

  font-size: 62.5%;
}
